In [33]:
import pandas as pd
import numpy as np

In [1]:
years = [2013,2014,2015,2016,2017,2018,2019]
leagues = ["english_premier_league","italian_serie_a","spanish_primera_division"]

In [2]:
# Creating a function that will merge the various years for each league chosen
def data_org(league):
    appended_data = []
    for year in years:
        file_path=f"../transfers/data/{year}/{league}.csv"
        df_league = pd.read_csv(file_path)
        appended_data.append(df_league)
    new_df = pd.concat(appended_data)
    return new_df

In [5]:
# Applying the function to build our datasets
premier_league_df = data_org(leagues[0])
italian_df = data_org(leagues[1])
spanish_df = data_org(leagues[2])

In [6]:
# Cleaning to only include relevant columns
italian_clean_df = italian_df[["year","club_name","transfer_movement","fee_cleaned"]]
english_clean_df = premier_league_df[["year","club_name","transfer_movement","fee_cleaned"]]
spanish_clean_df = spanish_df[["year","club_name","transfer_movement","fee_cleaned"]]

In [17]:
# Filtering to show only players signed, not players sold.
italian_clean_df = italian_clean_df[italian_clean_df["transfer_movement"]=='in']
english_clean_df = english_clean_df[english_clean_df["transfer_movement"]=='in']
spanish_clean_df = spanish_clean_df[spanish_clean_df["transfer_movement"]=='in']

In [47]:
def group_and_clean(df):
    df_group = df.groupby(["year","club_name"]).sum()
    df_group = df_group.sort_values(by=["year","fee_cleaned"],ascending=False).rename(columns={"fee_cleaned": "Transfer Spend (Euros)"}).reset_index()
    df_group = df_group.rename(columns={"club_name":"Teams"})
    return df_group

In [48]:
italian_summary = group_and_clean(italian_clean_df)
english_summary = group_and_clean(english_clean_df)
spanish_summary = group_and_clean(spanish_clean_df)

In [49]:
spanish_summary

     year                   Teams  Transfer Spend (Euros)
0    2019             Real Madrid                 317.250
1    2019            FC Barcelona                 245.700
2    2019         Atlético Madrid                 219.150
3    2019              Sevilla FC                 159.980
4    2019     Real Betis Balompié                  90.230
..    ...                     ...                     ...
135  2013  RCD Espanyol Barcelona                   0.675
136  2013                Elche CF                   0.585
137  2013              Levante UD                   0.270
138  2013          Rayo Vallecano                   0.000
139  2013              UD Almería                   0.000

[140 rows x 3 columns]