In [1]:
import pandas as pd

In [2]:
years = [2012,2013,2014,2015,2016,2017,2018,2019]
leagues = ["english_premier_league","italian_serie_a","spanish_primera_division"]

In [3]:
premier_league_df = pd.read_csv("../transfers/data/2015/english_premier_league.csv")
empty_df = premier_league_df[0:0]

In [4]:
empty_df

Empty DataFrame
Columns: [club_name, player_name, age, position, club_involved_name, fee, transfer_movement, transfer_period, fee_cleaned, league_name, year, season]
Index: []

In [5]:
def data_org(league):
    appended_data = []
    for year in years:
        file_path=f"../transfers/data/{year}/{league}.csv"
        df_league = pd.read_csv(file_path)
        appended_data.append(df_league)
    new_df = pd.concat(appended_data)
    return new_df

In [6]:
premier_league_df = data_org(leagues[0])
italian_df = data_org(leagues[1])
spanish_df = data_org(leagues[2])

In [7]:
italian_clean_df = italian_df[["year","club_name","transfer_movement","fee_cleaned"]]
english_clean_df = premier_league_df[["year","club_name","transfer_movement","fee_cleaned"]]
spanish_clean_df = spanish_df[["year","club_name","transfer_movement","fee_cleaned"]]

In [8]:
italian_clean_df = italian_clean_df[italian_clean_df["transfer_movement"]=='in']
english_clean_df = english_clean_df[english_clean_df["transfer_movement"]=='in']
spanish_clean_df = spanish_clean_df[spanish_clean_df["transfer_movement"]=='in']

In [14]:
italian_group = italian_clean_df.groupby(["year","club_name"]).sum()

In [19]:
italian_group.sort_values(by=["year","fee_cleaned"],ascending=False)

                      fee_cleaned
year club_name
2019 Juventus FC          201.150
     SSC Napoli           176.850
     Inter Milan          171.284
     AS Roma              102.690
     AC Milan              94.050
...                           ...
2012 AC Siena              10.295
     Bologna FC 1909        9.260
     Chievo Verona          8.550
     Calcio Catania         8.125
     SS Lazio               1.377

[160 rows x 1 columns]