In [12]:
import pandas as pd

# file paths to files
#players
path_2015 = "raw/players_15.csv"
path_2016 = "raw/players_16.csv"
path_2017 = "raw/players_17.csv"
path_2018 = "raw/players_18.csv"
path_2019 = "raw/players_19.csv"
path_2020 = "raw/players_20.csv"
paths = [path_2015, path_2016,path_2017,path_2018,path_2019,path_2020]

#cleaned
eng_path = "cleaned/engranking.csv"
it_path = "cleaned/itranking.csv"
spain_path = "cleaned/spainranking.csv"

#read the cleaned data
eng_df = pd.read_csv(eng_path)
it_df = pd.read_csv(it_path)
spain_df = pd.read_csv(spain_path)
list_df= [eng_df,it_df,spain_df]
eng_df

,Unnamed: 0,Year,Teams,Points,Goals+,Goals-,avg age,avg heights (cm),avg weight (kg),agv player rating,avg player value (EU)
0,0,2015,Bournemouth,42,23,34,25.03,180.63,75.97,63.93,0
1,1,2015,Chelsea,50,32,30,23.76,183.42,77.30,73.27,0
2,2,2015,Everton,47,35,30,25.33,180.67,75.55,72.36,0
3,3,2015,Leicester City,81,35,18,25.03,181.85,75.76,66.45,0
4,4,2015,Manchester United,66,27,9,23.94,183.00,75.45,73.39,0
...,...,...,...,...,...,...,...,...,...,...,...
95,95,2019,Southampton,52,51,60,23.73,183.39,75.79,71.42,5977121
96,96,2019,Manchester City,81,102,35,24.09,180.45,74.12,76.85,22951363
97,97,2019,Sheffield United,54,39,39,25.60,182.03,75.13,66.27,1438500
98,98,2019,Chelsea,66,69,54,25.21,182.82,77.00,76.79,18798787
99,99,2019,Wolverhampton Wanderers,59,51,40,22.97,182.42,78.45,68.64,5249090

In [13]:
def playersfunc(filepath,year):
    play_df = pd.read_csv(filepath)
    play_df = play_df[['short_name','nationality','club',]]
    play_df = play_df.rename({"club":"Teams"},axis=1)
    play_df["Year"]= year
    play_df["Year"] = play_df["Year"].astype('int')
    play_df = play_df.reset_index()
    return play_df
def cleanup(df):
    df["Teams"] = df["Teams"].str.replace("RC Celta", "RC Celta Vigo")
    df["Teams"] = df["Teams"].str.replace("Real Sporting de Gijón", "Sporting Gijón")
    df["Teams"] = df["Teams"].str.replace("Athletic Club de Bilbao", "Athletic Club Bilbao")
    df["Teams"] = df["Teams"].str.replace("Deportivo de La Coruña", "RCD La Coruña")
    df["Teams"] = df["Teams"].str.replace("Milan", "AC Milan")
    df["Teams"] = df["Teams"].str.replace("Lazio", "SS Lazio")
    df["Teams"] = df["Teams"].str.replace("Fiorentina", "ACF Fiorentina")
    df["Teams"] = df["Teams"].str.replace("Inter", "FC Internazionale Milano")
    df["Teams"] = df["Teams"].str.replace("Sassuolo", "Sassuolo Calcio")
    df["Teams"] = df["Teams"].str.replace("Chievo Verona", "AC Chievo Verona")
    df["Teams"] = df["Teams"].str.replace("Roma", "AS Roma")
    df["Teams"] = df["Teams"].str.replace("Udinese", "Udinese Calcio")
    df["Teams"] = df["Teams"].str.replace("Cagliari", "Cagliari Calcio")
    df["Teams"] = df["Teams"].str.replace("Crotone", "FC Crotone")
    return df
players_df_15 = playersfunc(path_2015,2015)
players_df_15 = cleanup(players_df_15)

In [15]:
#teamslist = {}
#for df in list_df:
#    for team in df["Teams"]:
      


#players_df_15