In [21]:
#Import the modules
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
# file paths to files
#players
path_2015 = "raw/players_15.csv"
path_2016 = "raw/players_16.csv"
path_2017 = "raw/players_17.csv"
path_2018 = "raw/players_18.csv"
path_2019 = "raw/players_19.csv"
path_2020 = "raw/players_20.csv"
paths = [path_2015, path_2016,path_2017,path_2018,path_2019,path_2020]

#cleaned
path_eng = "cleaned/engranking.csv"
path_it = "cleaned/itranking.csv"
path_spain = "cleaned/spainranking.csv"
pathss = [path_eng,path_it,path_spain]
#read data
dfs = []
for path in pathss:
    df = pd.read_csv(path)
    dfs.append(df.sort_values(by=["Year","Points"], ascending = False))

In [66]:
eng_df = dfs[0].sort_values(by=["Year","Points"], ascending=False).rename(columns={"Unnamed: 0": "Ranking"})
it_df = dfs[1].sort_values(by=["Year","Points"], ascending=False).rename(columns={"Unnamed: 0": "Ranking"})
spain_df = dfs[2].sort_values(by=["Year","Points"], ascending=False).rename(columns={"Unnamed: 0": "Ranking"})
eng_df

,Ranking,Year,Teams,Points,Goals+,Goals-,avg age,avg heights (cm),avg weight (kg),avg player rating,avg player value (EU),avg player wage
80,80,2019,Liverpool,99,85,33,24.00,180.48,73.18,76.00,18015303,88212
96,96,2019,Manchester City,81,102,35,24.09,180.45,74.12,76.85,22951363,112758
89,89,2019,Manchester United,66,66,36,24.76,183.21,75.36,77.45,19016666,106727
98,98,2019,Chelsea,66,69,54,25.21,182.82,77.00,76.79,18798787,98970
87,87,2019,Leicester City,62,67,41,25.64,181.94,78.30,73.97,7597727,44758
...,...,...,...,...,...,...,...,...,...,...,...,...
17,17,2015,Crystal Palace,42,19,23,26.42,182.52,76.21,69.42,0,0
12,12,2015,Sunderland,39,23,20,23.85,182.33,76.00,68.03,0,0
7,7,2015,Newcastle United,37,32,24,24.06,181.97,77.42,70.48,0,0
5,5,2015,Norwich City,34,26,30,25.70,182.30,76.83,69.40,0,0
10,10,2015,Aston Villa,17,14,35,24.41,182.47,76.03,69.47,0,0

In [44]:
print(np.arange(len(eng_df)+1))

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100]

In [71]:
def ranking(df):
    rank = 0
    for i in np.arange(len(df)):
        rank +=1
        if i < len(df)-1:
            if df["Points"].iloc[i] >= df["Points"].iloc[i+1]:
                df["Ranking"].iloc[i] = rank
            elif df["Points"].iloc[i] < df["Points"].iloc[i+1]:
                df["Ranking"].iloc[i] = 20
                rank = 0
    return df

In [74]:
eng_df = ranking(eng_df)
it_df = ranking(it_df)
spain_df = ranking(spain_df)

In [75]:
spain_df.to_csv("cleaned/Liga.csv", index=False)
it_df.to_csv("cleaned/SerieA.csv",index=False)
eng_df.to_csv("cleaned/EPL.csv",index=False)